<div class="container-fluid">
  <div class="row justify-content-center mt-3">

    <div class="col-12 col-md-9 col-lg-7 calosc rounded text-light py-4">

      <div>
        <app-pisanie-wiadomosci (writer)="changeWriter($event)" (sendMessage)="onSendMessage($event)"></app-pisanie-wiadomosci>
      </div>

      <div class="wiadomosci mt-4 rounded shadow">
        <app-wiadomosc class="odwroc" [writer]="writer" [messages]="allMessages"></app-wiadomosc>
      </div>

    </div>
  </div>
</div>
