<div class="mx-3 mt-1" *ngFor="let message of messages">
  <div [style.float]="writer == message.nick ? 'right' : 'left'">
    <div class="px-1 pt-2 ">
      <div  style="margin-top: 0.7rem" class="position-absolute">
        <i [class.text-success]="writer == message.nick ? true : false" class="fas fa-user"></i>
      </div>
      <div style="font-size: .875rem" class="nickIcontent text-break">
        <span class="">{{ message.nick }}</span>
        <span class="ml-2 czas">{{ message.date }}</span>
      </div>
    </div>
    <div class="nickIcontent  text-break">
      <span class="ml-1">{{ message.content }}</span>
    </div>
  </div>
</div>
