$dark-900: #27282f
input:focus
  background-color: $dark-900

input:after
  content: ''
  display: block
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  border-radius: 5px
  border: 2px solid #ccc

input
  border: 0px
  background-color: $dark-900
  color: rgb(216, 216, 216)
  width: 100%
button
  font-weight: 600
  font-size: 1.4rem
