<div class="pisanie">
    <div class="row justify-content-center">
        <div class="col-7">
            <input (ngModelChange)="pickWriter($event)" (keyup.enter)="send()" [formControl]="name" placeholder="Nickname" class="px-2 py-2 rounded shadow" />
            <input (keyup.enter)="send()" [formControl]="message" placeholder="Message" class="shadow px-2 py-2 rounded mt-2" />
        </div>
        <button [attr.disabled]="valid" (click)="send()" type="button" class="btn btn-success col-2 ">SEND</button>
    </div>
</div>
